(edif test1
  (edifversion 2 0 0)
  (edifLevel 0)
  (keywordmap (keywordlevel 0))
(status
 (written
  (timeStamp 2023 10 31 10 07 50)
  (program "Vivado" (version "2023.1"))
  (comment "Built on 'Sun May  7 15:04:56 MDT 2023'")
  (comment "Built by 'xbuild'")
 )
)
  (Library hdi_primitives
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell GND (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port G (direction OUTPUT))
       )
     )
   )
   (cell VCC (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port P (direction OUTPUT))
       )
     )
   )
   (cell FDRE (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port Q (direction OUTPUT))
        (port C (direction INPUT))
        (port CE (direction INPUT))
        (port D (direction INPUT))
        (port R (direction INPUT))
       )
     )
   )
   (cell BUFG (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell IBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell OBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell LUT1 (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I0 (direction INPUT))
       )
     )
   )
   (cell CARRY4 (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port CI (direction INPUT))
        (port CYINIT (direction INPUT))
        (port (array (rename CO "CO[3:0]") 4) (direction OUTPUT))
        (port (array (rename O "O[3:0]") 4) (direction OUTPUT))
        (port (array (rename DI "DI[3:0]") 4) (direction INPUT))
        (port (array (rename S "S[3:0]") 4) (direction INPUT))
       )
     )
   )
   (cell LUT2 (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I0 (direction INPUT))
        (port I1 (direction INPUT))
       )
     )
   )
   (cell INV (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface
         (port I (direction INPUT))
         (port O (direction OUTPUT))
       )
     )
   )
  )
  (Library work
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell test1 (celltype GENERIC)
     (view test1 (viewtype NETLIST)
       (interface 
        (port i_clk (direction INPUT))
        (port o_A (direction OUTPUT))
        (port (array (rename i_data "i_data[7:0]") 8) (direction INPUT))
        (port (array (rename o_data "o_data[7:0]") 8) (direction OUTPUT))
       )
       (contents
         (instance GND (viewref netlist (cellref GND (libraryref hdi_primitives))))
         (instance VCC (viewref netlist (cellref VCC (libraryref hdi_primitives))))
         (instance (rename data_reg_0_ "data_reg[0]") (viewref netlist (cellref FDRE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance (rename data_reg_1_ "data_reg[1]") (viewref netlist (cellref FDRE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance (rename data_reg_2_ "data_reg[2]") (viewref netlist (cellref FDRE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance (rename data_reg_3_ "data_reg[3]") (viewref netlist (cellref FDRE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance (rename data_reg_4_ "data_reg[4]") (viewref netlist (cellref FDRE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance (rename data_reg_5_ "data_reg[5]") (viewref netlist (cellref FDRE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance (rename data_reg_6_ "data_reg[6]") (viewref netlist (cellref FDRE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance (rename data_reg_7_ "data_reg[7]") (viewref netlist (cellref FDRE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance i_clk_IBUF_BUFG_inst (viewref netlist (cellref BUFG (libraryref hdi_primitives))))
         (instance i_clk_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_0__inst "i_data_IBUF[0]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_1__inst "i_data_IBUF[1]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_2__inst "i_data_IBUF[2]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_3__inst "i_data_IBUF[3]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_4__inst "i_data_IBUF[4]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_5__inst "i_data_IBUF[5]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_6__inst "i_data_IBUF[6]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_7__inst "i_data_IBUF[7]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance o_A_OBUF_inst (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance o_A_OBUF_inst_i_1 (viewref netlist (cellref LUT1 (libraryref hdi_primitives)))
           (property INIT (string "2'h1"))
         )
         (instance (rename o_data_OBUF_0__inst "o_data_OBUF[0]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_1__inst "o_data_OBUF[1]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_2__inst "o_data_OBUF[2]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_3__inst "o_data_OBUF[3]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_3__inst_i_1 "o_data_OBUF[3]_inst_i_1") (viewref netlist (cellref CARRY4 (libraryref hdi_primitives)))
           (property ADDER_THRESHOLD (integer 35))
         )
         (instance (rename o_data_OBUF_3__inst_i_2 "o_data_OBUF[3]_inst_i_2") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename o_data_OBUF_3__inst_i_3 "o_data_OBUF[3]_inst_i_3") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename o_data_OBUF_3__inst_i_4 "o_data_OBUF[3]_inst_i_4") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename o_data_OBUF_3__inst_i_5 "o_data_OBUF[3]_inst_i_5") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename o_data_OBUF_4__inst "o_data_OBUF[4]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_5__inst "o_data_OBUF[5]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_6__inst "o_data_OBUF[6]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_7__inst "o_data_OBUF[7]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_7__inst_i_1 "o_data_OBUF[7]_inst_i_1") (viewref netlist (cellref CARRY4 (libraryref hdi_primitives)))
           (property ADDER_THRESHOLD (integer 35))
         )
         (instance (rename o_data_OBUF_7__inst_i_2 "o_data_OBUF[7]_inst_i_2") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename o_data_OBUF_7__inst_i_3 "o_data_OBUF[7]_inst_i_3") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename o_data_OBUF_7__inst_i_4 "o_data_OBUF[7]_inst_i_4") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (instance (rename o_data_OBUF_7__inst_i_5 "o_data_OBUF[7]_inst_i_5") (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h6"))
         )
         (net (rename &_const0_ "<const0>") (joined
          (portref CI (instanceref o_data_OBUF_3__inst_i_1))
          (portref CYINIT (instanceref o_data_OBUF_3__inst_i_1))
          (portref CYINIT (instanceref o_data_OBUF_7__inst_i_1))
          (portref (member DI 0) (instanceref o_data_OBUF_7__inst_i_1))
          (portref G (instanceref GND))
          (portref R (instanceref data_reg_0_))
          (portref R (instanceref data_reg_1_))
          (portref R (instanceref data_reg_2_))
          (portref R (instanceref data_reg_3_))
          (portref R (instanceref data_reg_4_))
          (portref R (instanceref data_reg_5_))
          (portref R (instanceref data_reg_6_))
          (portref R (instanceref data_reg_7_))
          )
         )
         (net (rename &_const1_ "<const1>") (joined
          (portref CE (instanceref data_reg_0_))
          (portref CE (instanceref data_reg_1_))
          (portref CE (instanceref data_reg_2_))
          (portref CE (instanceref data_reg_3_))
          (portref CE (instanceref data_reg_4_))
          (portref CE (instanceref data_reg_5_))
          (portref CE (instanceref data_reg_6_))
          (portref CE (instanceref data_reg_7_))
          (portref P (instanceref VCC))
          )
         )
         (net (rename data_0_ "data[0]") (joined
          (portref I1 (instanceref o_data_OBUF_3__inst_i_5))
          (portref Q (instanceref data_reg_0_))
          )
         )
         (net (rename data_1_ "data[1]") (joined
          (portref I1 (instanceref o_data_OBUF_3__inst_i_4))
          (portref Q (instanceref data_reg_1_))
          )
         )
         (net (rename data_2_ "data[2]") (joined
          (portref I1 (instanceref o_data_OBUF_3__inst_i_3))
          (portref Q (instanceref data_reg_2_))
          )
         )
         (net (rename data_3_ "data[3]") (joined
          (portref I1 (instanceref o_data_OBUF_3__inst_i_2))
          (portref Q (instanceref data_reg_3_))
          )
         )
         (net (rename data_4_ "data[4]") (joined
          (portref I1 (instanceref o_data_OBUF_7__inst_i_5))
          (portref Q (instanceref data_reg_4_))
          )
         )
         (net (rename data_5_ "data[5]") (joined
          (portref I1 (instanceref o_data_OBUF_7__inst_i_4))
          (portref Q (instanceref data_reg_5_))
          )
         )
         (net (rename data_6_ "data[6]") (joined
          (portref I1 (instanceref o_data_OBUF_7__inst_i_3))
          (portref Q (instanceref data_reg_6_))
          )
         )
         (net (rename data_7_ "data[7]") (joined
          (portref I1 (instanceref o_data_OBUF_7__inst_i_2))
          (portref Q (instanceref data_reg_7_))
          )
         )
         (net i_clk (joined
          (portref I (instanceref i_clk_IBUF_inst))
          (portref i_clk)
          )
         )
         (net i_clk_IBUF (joined
          (portref I (instanceref i_clk_IBUF_BUFG_inst))
          (portref O (instanceref i_clk_IBUF_inst))
          )
         )
         (net i_clk_IBUF_BUFG (joined
          (portref C (instanceref data_reg_0_))
          (portref C (instanceref data_reg_1_))
          (portref C (instanceref data_reg_2_))
          (portref C (instanceref data_reg_3_))
          (portref C (instanceref data_reg_4_))
          (portref C (instanceref data_reg_5_))
          (portref C (instanceref data_reg_6_))
          (portref C (instanceref data_reg_7_))
          (portref O (instanceref i_clk_IBUF_BUFG_inst))
          )
         )
         (net (rename i_data_0_ "i_data[0]") (joined
          (portref I (instanceref i_data_IBUF_0__inst))
          (portref (member i_data 7))
          )
         )
         (net (rename i_data_1_ "i_data[1]") (joined
          (portref I (instanceref i_data_IBUF_1__inst))
          (portref (member i_data 6))
          )
         )
         (net (rename i_data_2_ "i_data[2]") (joined
          (portref I (instanceref i_data_IBUF_2__inst))
          (portref (member i_data 5))
          )
         )
         (net (rename i_data_3_ "i_data[3]") (joined
          (portref I (instanceref i_data_IBUF_3__inst))
          (portref (member i_data 4))
          )
         )
         (net (rename i_data_4_ "i_data[4]") (joined
          (portref I (instanceref i_data_IBUF_4__inst))
          (portref (member i_data 3))
          )
         )
         (net (rename i_data_5_ "i_data[5]") (joined
          (portref I (instanceref i_data_IBUF_5__inst))
          (portref (member i_data 2))
          )
         )
         (net (rename i_data_6_ "i_data[6]") (joined
          (portref I (instanceref i_data_IBUF_6__inst))
          (portref (member i_data 1))
          )
         )
         (net (rename i_data_7_ "i_data[7]") (joined
          (portref I (instanceref i_data_IBUF_7__inst))
          (portref (member i_data 0))
          )
         )
         (net (rename i_data_IBUF_0_ "i_data_IBUF[0]") (joined
          (portref D (instanceref data_reg_0_))
          (portref O (instanceref i_data_IBUF_0__inst))
          )
         )
         (net (rename i_data_IBUF_1_ "i_data_IBUF[1]") (joined
          (portref D (instanceref data_reg_1_))
          (portref O (instanceref i_data_IBUF_1__inst))
          )
         )
         (net (rename i_data_IBUF_2_ "i_data_IBUF[2]") (joined
          (portref D (instanceref data_reg_2_))
          (portref O (instanceref i_data_IBUF_2__inst))
          )
         )
         (net (rename i_data_IBUF_3_ "i_data_IBUF[3]") (joined
          (portref D (instanceref data_reg_3_))
          (portref O (instanceref i_data_IBUF_3__inst))
          )
         )
         (net (rename i_data_IBUF_4_ "i_data_IBUF[4]") (joined
          (portref D (instanceref data_reg_4_))
          (portref O (instanceref i_data_IBUF_4__inst))
          )
         )
         (net (rename i_data_IBUF_5_ "i_data_IBUF[5]") (joined
          (portref D (instanceref data_reg_5_))
          (portref O (instanceref i_data_IBUF_5__inst))
          )
         )
         (net (rename i_data_IBUF_6_ "i_data_IBUF[6]") (joined
          (portref D (instanceref data_reg_6_))
          (portref O (instanceref i_data_IBUF_6__inst))
          )
         )
         (net (rename i_data_IBUF_7_ "i_data_IBUF[7]") (joined
          (portref D (instanceref data_reg_7_))
          (portref O (instanceref i_data_IBUF_7__inst))
          )
         )
         (net o_A (joined
          (portref O (instanceref o_A_OBUF_inst))
          (portref o_A)
          )
         )
         (net o_A_OBUF (joined
          (portref I (instanceref o_A_OBUF_inst))
          (portref I0 (instanceref o_A_OBUF_inst_i_1))
          (portref O (instanceref o_A_OBUF_inst_i_1))
          )
         )
         (net (rename o_data_0_ "o_data[0]") (joined
          (portref O (instanceref o_data_OBUF_0__inst))
          (portref (member o_data 7))
          )
         )
         (net (rename o_data_1_ "o_data[1]") (joined
          (portref O (instanceref o_data_OBUF_1__inst))
          (portref (member o_data 6))
          )
         )
         (net (rename o_data_2_ "o_data[2]") (joined
          (portref O (instanceref o_data_OBUF_2__inst))
          (portref (member o_data 5))
          )
         )
         (net (rename o_data_3_ "o_data[3]") (joined
          (portref O (instanceref o_data_OBUF_3__inst))
          (portref (member o_data 4))
          )
         )
         (net (rename o_data_4_ "o_data[4]") (joined
          (portref O (instanceref o_data_OBUF_4__inst))
          (portref (member o_data 3))
          )
         )
         (net (rename o_data_5_ "o_data[5]") (joined
          (portref O (instanceref o_data_OBUF_5__inst))
          (portref (member o_data 2))
          )
         )
         (net (rename o_data_6_ "o_data[6]") (joined
          (portref O (instanceref o_data_OBUF_6__inst))
          (portref (member o_data 1))
          )
         )
         (net (rename o_data_7_ "o_data[7]") (joined
          (portref O (instanceref o_data_OBUF_7__inst))
          (portref (member o_data 0))
          )
         )
         (net (rename o_data_OBUF_0_ "o_data_OBUF[0]") (joined
          (portref (member DI 3) (instanceref o_data_OBUF_3__inst_i_1))
          (portref I (instanceref o_data_OBUF_0__inst))
          (portref I0 (instanceref o_data_OBUF_3__inst_i_5))
          (portref (member O 3) (instanceref o_data_OBUF_3__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_1_ "o_data_OBUF[1]") (joined
          (portref (member DI 2) (instanceref o_data_OBUF_3__inst_i_1))
          (portref I (instanceref o_data_OBUF_1__inst))
          (portref I0 (instanceref o_data_OBUF_3__inst_i_4))
          (portref (member O 2) (instanceref o_data_OBUF_3__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_2_ "o_data_OBUF[2]") (joined
          (portref (member DI 1) (instanceref o_data_OBUF_3__inst_i_1))
          (portref I (instanceref o_data_OBUF_2__inst))
          (portref I0 (instanceref o_data_OBUF_3__inst_i_3))
          (portref (member O 1) (instanceref o_data_OBUF_3__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_3_ "o_data_OBUF[3]") (joined
          (portref (member DI 0) (instanceref o_data_OBUF_3__inst_i_1))
          (portref I (instanceref o_data_OBUF_3__inst))
          (portref I0 (instanceref o_data_OBUF_3__inst_i_2))
          (portref (member O 0) (instanceref o_data_OBUF_3__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_3__inst_i_1_n_0 "o_data_OBUF[3]_inst_i_1_n_0") (joined
          (portref CI (instanceref o_data_OBUF_7__inst_i_1))
          (portref (member CO 0) (instanceref o_data_OBUF_3__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_3__inst_i_1_n_1 "o_data_OBUF[3]_inst_i_1_n_1") (joined
          (portref (member CO 1) (instanceref o_data_OBUF_3__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_3__inst_i_1_n_2 "o_data_OBUF[3]_inst_i_1_n_2") (joined
          (portref (member CO 2) (instanceref o_data_OBUF_3__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_3__inst_i_1_n_3 "o_data_OBUF[3]_inst_i_1_n_3") (joined
          (portref (member CO 3) (instanceref o_data_OBUF_3__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_3__inst_i_2_n_0 "o_data_OBUF[3]_inst_i_2_n_0") (joined
          (portref O (instanceref o_data_OBUF_3__inst_i_2))
          (portref (member S 0) (instanceref o_data_OBUF_3__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_3__inst_i_3_n_0 "o_data_OBUF[3]_inst_i_3_n_0") (joined
          (portref O (instanceref o_data_OBUF_3__inst_i_3))
          (portref (member S 1) (instanceref o_data_OBUF_3__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_3__inst_i_4_n_0 "o_data_OBUF[3]_inst_i_4_n_0") (joined
          (portref O (instanceref o_data_OBUF_3__inst_i_4))
          (portref (member S 2) (instanceref o_data_OBUF_3__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_3__inst_i_5_n_0 "o_data_OBUF[3]_inst_i_5_n_0") (joined
          (portref O (instanceref o_data_OBUF_3__inst_i_5))
          (portref (member S 3) (instanceref o_data_OBUF_3__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_4_ "o_data_OBUF[4]") (joined
          (portref (member DI 3) (instanceref o_data_OBUF_7__inst_i_1))
          (portref I (instanceref o_data_OBUF_4__inst))
          (portref I0 (instanceref o_data_OBUF_7__inst_i_5))
          (portref (member O 3) (instanceref o_data_OBUF_7__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_5_ "o_data_OBUF[5]") (joined
          (portref (member DI 2) (instanceref o_data_OBUF_7__inst_i_1))
          (portref I (instanceref o_data_OBUF_5__inst))
          (portref I0 (instanceref o_data_OBUF_7__inst_i_4))
          (portref (member O 2) (instanceref o_data_OBUF_7__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_6_ "o_data_OBUF[6]") (joined
          (portref (member DI 1) (instanceref o_data_OBUF_7__inst_i_1))
          (portref I (instanceref o_data_OBUF_6__inst))
          (portref I0 (instanceref o_data_OBUF_7__inst_i_3))
          (portref (member O 1) (instanceref o_data_OBUF_7__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_7_ "o_data_OBUF[7]") (joined
          (portref I (instanceref o_data_OBUF_7__inst))
          (portref I0 (instanceref o_data_OBUF_7__inst_i_2))
          (portref (member O 0) (instanceref o_data_OBUF_7__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_7__inst_i_1_n_1 "o_data_OBUF[7]_inst_i_1_n_1") (joined
          (portref (member CO 1) (instanceref o_data_OBUF_7__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_7__inst_i_1_n_2 "o_data_OBUF[7]_inst_i_1_n_2") (joined
          (portref (member CO 2) (instanceref o_data_OBUF_7__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_7__inst_i_1_n_3 "o_data_OBUF[7]_inst_i_1_n_3") (joined
          (portref (member CO 3) (instanceref o_data_OBUF_7__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_7__inst_i_2_n_0 "o_data_OBUF[7]_inst_i_2_n_0") (joined
          (portref O (instanceref o_data_OBUF_7__inst_i_2))
          (portref (member S 0) (instanceref o_data_OBUF_7__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_7__inst_i_3_n_0 "o_data_OBUF[7]_inst_i_3_n_0") (joined
          (portref O (instanceref o_data_OBUF_7__inst_i_3))
          (portref (member S 1) (instanceref o_data_OBUF_7__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_7__inst_i_4_n_0 "o_data_OBUF[7]_inst_i_4_n_0") (joined
          (portref O (instanceref o_data_OBUF_7__inst_i_4))
          (portref (member S 2) (instanceref o_data_OBUF_7__inst_i_1))
          )
         )
         (net (rename o_data_OBUF_7__inst_i_5_n_0 "o_data_OBUF[7]_inst_i_5_n_0") (joined
          (portref O (instanceref o_data_OBUF_7__inst_i_5))
          (portref (member S 3) (instanceref o_data_OBUF_7__inst_i_1))
          )
         )
       )
     )
   )
  )
(comment "Reference To The Cell Of Highest Level")

  (design test1
    (cellref test1 (libraryref work))
    (property XLNX_PROJ_DIR (string "/home/flo/FLORENT/GIT/VHDL_Handbook_STD/Extras/Sonarqube/combinatorial_loop/xil_test1"))
    (property part (string "xc7a12tcpg238-3"))
  )
)
