(edif test1
  (edifversion 2 0 0)
  (edifLevel 0)
  (keywordmap (keywordlevel 0))
(status
 (written
  (timeStamp 2023 10 31 10 19 30)
  (program "Vivado" (version "2023.1"))
  (comment "Built on 'Sun May  7 15:04:56 MDT 2023'")
  (comment "Built by 'xbuild'")
 )
)
  (Library hdi_primitives
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell GND (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port G (direction OUTPUT))
       )
     )
   )
   (cell VCC (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port P (direction OUTPUT))
       )
     )
   )
   (cell LDCE (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port Q (direction OUTPUT))
        (port CLR (direction INPUT))
        (port D (direction INPUT))
        (port G (direction INPUT))
        (port GE (direction INPUT))
       )
     )
   )
   (cell BUFG (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell IBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell OBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell INV (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface
         (port I (direction INPUT))
         (port O (direction OUTPUT))
       )
     )
   )
  )
  (Library work
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell test1 (celltype GENERIC)
     (view test1 (viewtype NETLIST)
       (interface 
        (port i_A (direction INPUT))
        (port (array (rename i_data "i_data[7:0]") 8) (direction INPUT))
        (port (array (rename o_data "o_data[7:0]") 8) (direction OUTPUT))
        (port (array (rename o_data1 "o_data1[7:0]") 8) (direction OUTPUT))
       )
       (contents
         (instance GND (viewref netlist (cellref GND (libraryref hdi_primitives))))
         (instance VCC (viewref netlist (cellref VCC (libraryref hdi_primitives))))
         (instance (rename data1_reg_0_ "data1_reg[0]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property IS_G_INVERTED (string "1'b1"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
           (property INIT (string "1'b0"))
           (property OPT_MODIFIED (string "MLO"))
         )
         (instance (rename data1_reg_1_ "data1_reg[1]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property IS_G_INVERTED (string "1'b1"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
           (property INIT (string "1'b0"))
           (property OPT_MODIFIED (string "MLO"))
         )
         (instance (rename data1_reg_2_ "data1_reg[2]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property IS_G_INVERTED (string "1'b1"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
           (property INIT (string "1'b0"))
           (property OPT_MODIFIED (string "MLO"))
         )
         (instance (rename data1_reg_3_ "data1_reg[3]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property IS_G_INVERTED (string "1'b1"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
           (property INIT (string "1'b0"))
           (property OPT_MODIFIED (string "MLO"))
         )
         (instance (rename data1_reg_4_ "data1_reg[4]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property IS_G_INVERTED (string "1'b1"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
           (property INIT (string "1'b0"))
           (property OPT_MODIFIED (string "MLO"))
         )
         (instance (rename data1_reg_5_ "data1_reg[5]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property IS_G_INVERTED (string "1'b1"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
           (property INIT (string "1'b0"))
           (property OPT_MODIFIED (string "MLO"))
         )
         (instance (rename data1_reg_6_ "data1_reg[6]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property IS_G_INVERTED (string "1'b1"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
           (property INIT (string "1'b0"))
           (property OPT_MODIFIED (string "MLO"))
         )
         (instance (rename data1_reg_7_ "data1_reg[7]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property IS_G_INVERTED (string "1'b1"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
           (property INIT (string "1'b0"))
           (property OPT_MODIFIED (string "MLO"))
         )
         (instance (rename data_reg_0_ "data_reg[0]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property INIT (string "1'b0"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
         )
         (instance (rename data_reg_1_ "data_reg[1]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property INIT (string "1'b0"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
         )
         (instance (rename data_reg_2_ "data_reg[2]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property INIT (string "1'b0"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
         )
         (instance (rename data_reg_3_ "data_reg[3]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property INIT (string "1'b0"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
         )
         (instance (rename data_reg_4_ "data_reg[4]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property INIT (string "1'b0"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
         )
         (instance (rename data_reg_5_ "data_reg[5]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property INIT (string "1'b0"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
         )
         (instance (rename data_reg_6_ "data_reg[6]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property INIT (string "1'b0"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
         )
         (instance (rename data_reg_7_ "data_reg[7]") (viewref netlist (cellref LDCE (libraryref hdi_primitives)))
           (property XILINX_LEGACY_PRIM (string "LD"))
           (property INIT (string "1'b0"))
           (property XILINX_TRANSFORM_PINMAP (string "VCC:GE GND:CLR"))
         )
         (instance i_A_IBUF_BUFG_inst (viewref netlist (cellref BUFG (libraryref hdi_primitives))))
         (instance i_A_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_0__inst "i_data_IBUF[0]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_1__inst "i_data_IBUF[1]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_2__inst "i_data_IBUF[2]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_3__inst "i_data_IBUF[3]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_4__inst "i_data_IBUF[4]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_5__inst "i_data_IBUF[5]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_6__inst "i_data_IBUF[6]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename i_data_IBUF_7__inst "i_data_IBUF[7]_inst") (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance (rename o_data1_OBUF_0__inst "o_data1_OBUF[0]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data1_OBUF_1__inst "o_data1_OBUF[1]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data1_OBUF_2__inst "o_data1_OBUF[2]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data1_OBUF_3__inst "o_data1_OBUF[3]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data1_OBUF_4__inst "o_data1_OBUF[4]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data1_OBUF_5__inst "o_data1_OBUF[5]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data1_OBUF_6__inst "o_data1_OBUF[6]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data1_OBUF_7__inst "o_data1_OBUF[7]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_0__inst "o_data_OBUF[0]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_1__inst "o_data_OBUF[1]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_2__inst "o_data_OBUF[2]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_3__inst "o_data_OBUF[3]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_4__inst "o_data_OBUF[4]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_5__inst "o_data_OBUF[5]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_6__inst "o_data_OBUF[6]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename o_data_OBUF_7__inst "o_data_OBUF[7]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (net GND_1 (joined
          (portref CLR (instanceref data1_reg_0_))
          (portref CLR (instanceref data1_reg_1_))
          (portref CLR (instanceref data1_reg_2_))
          (portref CLR (instanceref data1_reg_3_))
          (portref CLR (instanceref data1_reg_4_))
          (portref CLR (instanceref data1_reg_5_))
          (portref CLR (instanceref data1_reg_6_))
          (portref CLR (instanceref data1_reg_7_))
          (portref CLR (instanceref data_reg_0_))
          (portref CLR (instanceref data_reg_1_))
          (portref CLR (instanceref data_reg_2_))
          (portref CLR (instanceref data_reg_3_))
          (portref CLR (instanceref data_reg_4_))
          (portref CLR (instanceref data_reg_5_))
          (portref CLR (instanceref data_reg_6_))
          (portref CLR (instanceref data_reg_7_))
          (portref G (instanceref GND))
          )
         )
         (net VCC_1 (joined
          (portref GE (instanceref data1_reg_0_))
          (portref GE (instanceref data1_reg_1_))
          (portref GE (instanceref data1_reg_2_))
          (portref GE (instanceref data1_reg_3_))
          (portref GE (instanceref data1_reg_4_))
          (portref GE (instanceref data1_reg_5_))
          (portref GE (instanceref data1_reg_6_))
          (portref GE (instanceref data1_reg_7_))
          (portref GE (instanceref data_reg_0_))
          (portref GE (instanceref data_reg_1_))
          (portref GE (instanceref data_reg_2_))
          (portref GE (instanceref data_reg_3_))
          (portref GE (instanceref data_reg_4_))
          (portref GE (instanceref data_reg_5_))
          (portref GE (instanceref data_reg_6_))
          (portref GE (instanceref data_reg_7_))
          (portref P (instanceref VCC))
          )
         )
         (net i_A (joined
          (portref I (instanceref i_A_IBUF_inst))
          (portref i_A)
          )
         )
         (net i_A_IBUF (joined
          (portref I (instanceref i_A_IBUF_BUFG_inst))
          (portref O (instanceref i_A_IBUF_inst))
          )
         )
         (net i_A_IBUF_BUFG (joined
          (portref G (instanceref data1_reg_0_))
          (portref G (instanceref data1_reg_1_))
          (portref G (instanceref data1_reg_2_))
          (portref G (instanceref data1_reg_3_))
          (portref G (instanceref data1_reg_4_))
          (portref G (instanceref data1_reg_5_))
          (portref G (instanceref data1_reg_6_))
          (portref G (instanceref data1_reg_7_))
          (portref G (instanceref data_reg_0_))
          (portref G (instanceref data_reg_1_))
          (portref G (instanceref data_reg_2_))
          (portref G (instanceref data_reg_3_))
          (portref G (instanceref data_reg_4_))
          (portref G (instanceref data_reg_5_))
          (portref G (instanceref data_reg_6_))
          (portref G (instanceref data_reg_7_))
          (portref O (instanceref i_A_IBUF_BUFG_inst))
          )
         )
         (net (rename i_data_0_ "i_data[0]") (joined
          (portref I (instanceref i_data_IBUF_0__inst))
          (portref (member i_data 7))
          )
         )
         (net (rename i_data_1_ "i_data[1]") (joined
          (portref I (instanceref i_data_IBUF_1__inst))
          (portref (member i_data 6))
          )
         )
         (net (rename i_data_2_ "i_data[2]") (joined
          (portref I (instanceref i_data_IBUF_2__inst))
          (portref (member i_data 5))
          )
         )
         (net (rename i_data_3_ "i_data[3]") (joined
          (portref I (instanceref i_data_IBUF_3__inst))
          (portref (member i_data 4))
          )
         )
         (net (rename i_data_4_ "i_data[4]") (joined
          (portref I (instanceref i_data_IBUF_4__inst))
          (portref (member i_data 3))
          )
         )
         (net (rename i_data_5_ "i_data[5]") (joined
          (portref I (instanceref i_data_IBUF_5__inst))
          (portref (member i_data 2))
          )
         )
         (net (rename i_data_6_ "i_data[6]") (joined
          (portref I (instanceref i_data_IBUF_6__inst))
          (portref (member i_data 1))
          )
         )
         (net (rename i_data_7_ "i_data[7]") (joined
          (portref I (instanceref i_data_IBUF_7__inst))
          (portref (member i_data 0))
          )
         )
         (net (rename i_data_IBUF_0_ "i_data_IBUF[0]") (joined
          (portref D (instanceref data1_reg_0_))
          (portref D (instanceref data_reg_0_))
          (portref O (instanceref i_data_IBUF_0__inst))
          )
         )
         (net (rename i_data_IBUF_1_ "i_data_IBUF[1]") (joined
          (portref D (instanceref data1_reg_1_))
          (portref D (instanceref data_reg_1_))
          (portref O (instanceref i_data_IBUF_1__inst))
          )
         )
         (net (rename i_data_IBUF_2_ "i_data_IBUF[2]") (joined
          (portref D (instanceref data1_reg_2_))
          (portref D (instanceref data_reg_2_))
          (portref O (instanceref i_data_IBUF_2__inst))
          )
         )
         (net (rename i_data_IBUF_3_ "i_data_IBUF[3]") (joined
          (portref D (instanceref data1_reg_3_))
          (portref D (instanceref data_reg_3_))
          (portref O (instanceref i_data_IBUF_3__inst))
          )
         )
         (net (rename i_data_IBUF_4_ "i_data_IBUF[4]") (joined
          (portref D (instanceref data1_reg_4_))
          (portref D (instanceref data_reg_4_))
          (portref O (instanceref i_data_IBUF_4__inst))
          )
         )
         (net (rename i_data_IBUF_5_ "i_data_IBUF[5]") (joined
          (portref D (instanceref data1_reg_5_))
          (portref D (instanceref data_reg_5_))
          (portref O (instanceref i_data_IBUF_5__inst))
          )
         )
         (net (rename i_data_IBUF_6_ "i_data_IBUF[6]") (joined
          (portref D (instanceref data1_reg_6_))
          (portref D (instanceref data_reg_6_))
          (portref O (instanceref i_data_IBUF_6__inst))
          )
         )
         (net (rename i_data_IBUF_7_ "i_data_IBUF[7]") (joined
          (portref D (instanceref data1_reg_7_))
          (portref D (instanceref data_reg_7_))
          (portref O (instanceref i_data_IBUF_7__inst))
          )
         )
         (net (rename o_data1_0_ "o_data1[0]") (joined
          (portref O (instanceref o_data1_OBUF_0__inst))
          (portref (member o_data1 7))
          )
         )
         (net (rename o_data1_1_ "o_data1[1]") (joined
          (portref O (instanceref o_data1_OBUF_1__inst))
          (portref (member o_data1 6))
          )
         )
         (net (rename o_data1_2_ "o_data1[2]") (joined
          (portref O (instanceref o_data1_OBUF_2__inst))
          (portref (member o_data1 5))
          )
         )
         (net (rename o_data1_3_ "o_data1[3]") (joined
          (portref O (instanceref o_data1_OBUF_3__inst))
          (portref (member o_data1 4))
          )
         )
         (net (rename o_data1_4_ "o_data1[4]") (joined
          (portref O (instanceref o_data1_OBUF_4__inst))
          (portref (member o_data1 3))
          )
         )
         (net (rename o_data1_5_ "o_data1[5]") (joined
          (portref O (instanceref o_data1_OBUF_5__inst))
          (portref (member o_data1 2))
          )
         )
         (net (rename o_data1_6_ "o_data1[6]") (joined
          (portref O (instanceref o_data1_OBUF_6__inst))
          (portref (member o_data1 1))
          )
         )
         (net (rename o_data1_7_ "o_data1[7]") (joined
          (portref O (instanceref o_data1_OBUF_7__inst))
          (portref (member o_data1 0))
          )
         )
         (net (rename o_data1_OBUF_0_ "o_data1_OBUF[0]") (joined
          (portref I (instanceref o_data1_OBUF_0__inst))
          (portref Q (instanceref data1_reg_0_))
          )
         )
         (net (rename o_data1_OBUF_1_ "o_data1_OBUF[1]") (joined
          (portref I (instanceref o_data1_OBUF_1__inst))
          (portref Q (instanceref data1_reg_1_))
          )
         )
         (net (rename o_data1_OBUF_2_ "o_data1_OBUF[2]") (joined
          (portref I (instanceref o_data1_OBUF_2__inst))
          (portref Q (instanceref data1_reg_2_))
          )
         )
         (net (rename o_data1_OBUF_3_ "o_data1_OBUF[3]") (joined
          (portref I (instanceref o_data1_OBUF_3__inst))
          (portref Q (instanceref data1_reg_3_))
          )
         )
         (net (rename o_data1_OBUF_4_ "o_data1_OBUF[4]") (joined
          (portref I (instanceref o_data1_OBUF_4__inst))
          (portref Q (instanceref data1_reg_4_))
          )
         )
         (net (rename o_data1_OBUF_5_ "o_data1_OBUF[5]") (joined
          (portref I (instanceref o_data1_OBUF_5__inst))
          (portref Q (instanceref data1_reg_5_))
          )
         )
         (net (rename o_data1_OBUF_6_ "o_data1_OBUF[6]") (joined
          (portref I (instanceref o_data1_OBUF_6__inst))
          (portref Q (instanceref data1_reg_6_))
          )
         )
         (net (rename o_data1_OBUF_7_ "o_data1_OBUF[7]") (joined
          (portref I (instanceref o_data1_OBUF_7__inst))
          (portref Q (instanceref data1_reg_7_))
          )
         )
         (net (rename o_data_0_ "o_data[0]") (joined
          (portref O (instanceref o_data_OBUF_0__inst))
          (portref (member o_data 7))
          )
         )
         (net (rename o_data_1_ "o_data[1]") (joined
          (portref O (instanceref o_data_OBUF_1__inst))
          (portref (member o_data 6))
          )
         )
         (net (rename o_data_2_ "o_data[2]") (joined
          (portref O (instanceref o_data_OBUF_2__inst))
          (portref (member o_data 5))
          )
         )
         (net (rename o_data_3_ "o_data[3]") (joined
          (portref O (instanceref o_data_OBUF_3__inst))
          (portref (member o_data 4))
          )
         )
         (net (rename o_data_4_ "o_data[4]") (joined
          (portref O (instanceref o_data_OBUF_4__inst))
          (portref (member o_data 3))
          )
         )
         (net (rename o_data_5_ "o_data[5]") (joined
          (portref O (instanceref o_data_OBUF_5__inst))
          (portref (member o_data 2))
          )
         )
         (net (rename o_data_6_ "o_data[6]") (joined
          (portref O (instanceref o_data_OBUF_6__inst))
          (portref (member o_data 1))
          )
         )
         (net (rename o_data_7_ "o_data[7]") (joined
          (portref O (instanceref o_data_OBUF_7__inst))
          (portref (member o_data 0))
          )
         )
         (net (rename o_data_OBUF_0_ "o_data_OBUF[0]") (joined
          (portref I (instanceref o_data_OBUF_0__inst))
          (portref Q (instanceref data_reg_0_))
          )
         )
         (net (rename o_data_OBUF_1_ "o_data_OBUF[1]") (joined
          (portref I (instanceref o_data_OBUF_1__inst))
          (portref Q (instanceref data_reg_1_))
          )
         )
         (net (rename o_data_OBUF_2_ "o_data_OBUF[2]") (joined
          (portref I (instanceref o_data_OBUF_2__inst))
          (portref Q (instanceref data_reg_2_))
          )
         )
         (net (rename o_data_OBUF_3_ "o_data_OBUF[3]") (joined
          (portref I (instanceref o_data_OBUF_3__inst))
          (portref Q (instanceref data_reg_3_))
          )
         )
         (net (rename o_data_OBUF_4_ "o_data_OBUF[4]") (joined
          (portref I (instanceref o_data_OBUF_4__inst))
          (portref Q (instanceref data_reg_4_))
          )
         )
         (net (rename o_data_OBUF_5_ "o_data_OBUF[5]") (joined
          (portref I (instanceref o_data_OBUF_5__inst))
          (portref Q (instanceref data_reg_5_))
          )
         )
         (net (rename o_data_OBUF_6_ "o_data_OBUF[6]") (joined
          (portref I (instanceref o_data_OBUF_6__inst))
          (portref Q (instanceref data_reg_6_))
          )
         )
         (net (rename o_data_OBUF_7_ "o_data_OBUF[7]") (joined
          (portref I (instanceref o_data_OBUF_7__inst))
          (portref Q (instanceref data_reg_7_))
          )
         )
       )
     )
   )
  )
(comment "Reference To The Cell Of Highest Level")

  (design test1
    (cellref test1 (libraryref work))
    (property XLNX_PROJ_DIR (string "/home/flo/FLORENT/GIT/VHDL_Handbook_STD/Extras/Sonarqube/latch/xil_test1"))
    (property part (string "xc7a12tcpg238-3"))
  )
)
